@import "tailwindcss";


@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0 0 0);

  --color-sidebar-background: rgb(73, 89, 99);
  --color-sidebar-foreground: rgb(255, 255, 255);
}
